.fa-list-header-titles button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 2px;
    text-decoration: none;
    background: lightgray;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.fa-list-header-titles button:hover {
    background: gray;
}

/* button:focus { */
    /* outline: 1px solid #fff; */
    /* outline-offset: -4px; */
/* } */

/* .fa-list-header-titles button:active {
    transform: scale(0.99);
} */

.fa-list-header-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-list-header-titles-button {
    width: 100%;
    display: flex !important;
    flex-direction: row;
}
.fa-list-header-titles button .fa-list-header-titles-button-no-sort-arrow {
    font-size: 8px;
    margin-left: 5px;
}

.fa-list-header-titles-button:focus .fa-list-header-titles-button-no-sort {
    display: none;
}

.fa-list-header-titles button .fa-list-header-titles-button-sort-direction{
    display: none;
} 
.fa-list-header-titles button:focus .fa-list-header-titles-button-sort-direction {
    display: flex;
    flex-direction: column;
} 